body {
    background: url(../img/bk-01.png);
    background-size: 300px 300px;
}

h1 {
    color: #595648;
    font-size: 24px;
}

div {
    color: #595648;
    font-size: 14px;
}

.top_bk {
    display: block;
    height: 25px;
    background: url(../img/bk_dark-01.png);
    background-size: 30px 25px;
    background-position: 0 0px;
}

.btn_bk {
    height: 50px;
    background: url(../img/bk_dark-03.png);
    background: url(../img/bk_dark-03.png);
    background-size: 30px 75px;
    background-position: bottom;
}

.bk {
    display: block;
    height: 50%;
    background: url(../img/bk_dark-02.png);
}

.banner {
    background: url(../img/moblie_nav-01.png);
    display: block;
    width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn_menu {
    padding: 0px;
    background: url(../img/menubar-01.png) repeat-x bottom;
    background-size: 150px;
    height: 200px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
}

.top_menu {
    position: fixed;
    background: url(../img/menu_left-01.png) no-repeat top right;
    height: 200px;
    background-size: contain;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

.main_home {
    padding: 0px;
}

.btn_menu_mobile {
    color: #FFF;
    background: #fdd000;
    height: 65px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 9px;
    z-index: 3;
    -webkit-box-shadow: 0px -2px 3px 0px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px -2px 3px 0px rgba(209, 209, 209, 1);
    box-shadow: 0px -2px 3px 0px rgba(209, 209, 209, 1);
}

.btn_menu_mobile a {
    color: #FFF;
    height: 65px;
    text-align: center;
    border-right: solid 1px;
    font-size: 10px;
}

.btn_menu_mobile a:hover {
    color: #FFF;
    height: 65px;
    text-align: center;
    font-size: 10px;
}

.btn_menu_mobile a img {
    width: 45px;
    height: 45px;
}

.link {
    padding-top: 80px;
}

.btn_menu .link a {
    color: #FFF;
    height: 120px;
    text-align: center;
    background: url(../img/btn_big-01.png) center top no-repeat;
    background-size: contain;
}

.btn_menu .link a:hover {
    color: #FFF;
    height: 120px;
    background: url(../img/btn_big-02.png) center top no-repeat;
    background-size: contain;
    text-align: center;
}

.btn_menu .link a img {
    margin-top: 5px;
    width: 75px;
    height: 75px;
}

.top_menu a {
    color: #FFF;
    height: 70px;
    text-align: center;
    background: url(../img/btn_top-01.png) center top no-repeat;
    background-size: contain;
}

.top_menu a:hover {
    color: #FFF;
    height: 70px;
    background: url(../img/btn_top-02.png) center top no-repeat;
    background-size: contain;
    text-align: center;
    text-decoration: none;
}

.top_menu a img {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.logo_h {
    height: 200px;
    display: block;
}

.logo {
    background: url(../img/logo-01.png) right bottom no-repeat;
    height: 100%;
    display: block;
    background-size: contain;
}

.logo:hover {
    background: url(../img/logo_over-01.png) right bottom no-repeat;
    height: 100%;
    display: block;
    background-size: contain;
}

.video_size {
    border: none;
    padding: none;
    margin: none;
}

.top_link {
    padding-top: 25px;
}

.special_people {
    text-align: center;
}

.h_title {
    width: 210px;
    height: 60px;
    background: url(../img/title-01.png) center;
    background-size: contain;
    padding-top: 1px;
}
.main_content{
    font-size: 14px;
    
}
table{
    text-align: center
}
th{
    background: #595648;
    color: #FFF;
    border: 2px solid #FFF;
}
td{
    border: 2px solid #FFF;
}

a,.tagged{
    font-weight: bold;
     color:#595648;
}
a:hover,.tagged:hover{
    color: #dcb500;
    background-color: #595648;
}
.spypannel{
    margin-top: 15%;
    text-align: right;
}

#myScrollspy .active{
    background-color: transparent;
    border: none;
    border-right: #595648 3px solid;
}
.form_h{
    border: none;
    height: 300px;
}

textarea{
height: 400px;
}
.stillworking{
    background:  url(../img/working-01.png) no-repeat rgba(225,0,0,0.2);
    background-size: contain;
}
.smw{
font-size: 10px;
}
a img:hover{
    -webkit-box-shadow: 0px 0px 3px 2px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(209, 209, 209, 1);
    box-shadow: 0px 0px 3px 2px rgba(209, 209, 209, 1);
}