@media (max-width: 767px) {
    body {
        margin-top: 25px;
    }
    .s_display {
        display: none;
    }
    .p_display {
        display: block;
    }
    .top_menu {
        height: 100px;
    }
    .video_size {
        height: 160px;
    }
    .m_display {
        display: none;
    }
}

@media (min-width: 768px) {
    body {
        margin-top: 0px;
    }
    .nav_disable {
        display: none;
    }
    .s_display {
        display: none;
    }
    .m_display {
        display: block;
    }
    .p_display {
        display: block;
    }
    .top_menu {
        height: 175px;
    }
    .video_size {
        height: 240px;
    }
}

@media (min-width: 992px) {
    .main_home{
        padding-top: 5%;
    }
    body {
        margin-top: 0px;
    }
    .nav_disable {
        display: none;
    }
    .p_display {
        display: none;
    }
    .m_display {
        display: block;
    }
    .s_display {
        display: block;
    }
    .video_size {
        height: 240px;
    }
}